.wrapper {
  padding: 1rem;
  background: #000;
  color: white;
  width: 100%;
  margin-top: 8rem;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color .3s;
}

.wrapper:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
}